page-login {
  ion-content {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: top;
    .scroll-content {
      overflow-y: hidden;
    }
    .control {
      width: 80%;
      height: 60%;
      margin: 10% auto;
      .header {
        text-align: center;
        img {
          max-width: 100%;
          border: 0;
          background: white;
          top: 40px;
          padding: 10px;
          position: relative;
        }
      }
      .content {
        padding: 25px 16px 16px;
        background: white;
        border-radius: 6px;
        .list-md>.item-block:first-child {
          border-top: none;
        }
        .list-md >.item-block:last-child .item-inner{
          border-bottom: 1px solid #dedede;
        }
        .item-ios {
          padding-left: 0;
          ion-icon[item-left] {
            margin: 0 12px 0 0;
          }
        }
        .item-ios:last-child {
          margin-bottom: 20px;
        }
        .item-md {
          padding-left: 0;
          background:transparent;
          ion-icon[item-left] {
            margin: 0 12px 0 0;
            
          }
        }
        .item-md:last-child {
          margin-bottom: 20px;
        }
      }
    }
    .social {
      ion-col:first-of-type {
        padding-left: 0;
      }
      ion-col:last-of-type {
        padding-right: 0;
      }
    }
    .footer {
      margin-top: 20px;
      p {
        margin: 0;
        text-transform: capitalize;
      }
      ion-col[text-right] {
        border-right: 1px solid #ccc;
      }
    }
  }

  .logo{ width:25%; height:auto}
  .about-link{text-decoration: underline;}
  ion-row.content {
  padding: 25px 16px 16px;
  background:rgba(255,255,255,0.95)!important;
  border-radius: 6px;
}
.modulbuttons form{display:inline-block}
}


@media screen and (min-width: 500px) {
  page-login ion-content .control{
    width:360px;
  }
}

page-login ion-content{
      background-repeat: no-repeat;
    background-color: #0f4caa!important;
    background-position: center;
    background-size: inherit;
}